.header {
  margin-top:0px;
}

.headerTitles {
  display:flex;
  flex-direction: column;
  align-items: center;
  color:rgb(255, 255, 255);
}

.headerTitleSm {
  position: absolute;
  top:300px;
  font-size: 40px;
  font-family: "caramel";
}

.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
  font-family:'IBM Plex Mono', monospace;
}

.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 0px;
  object-fit: cover;
  background: linear-gradient(220.38deg, rgba(51, 51, 51, 0.7) 0%, rgba(51, 51, 51, 0.7) 100%),url(https://www.milaanschooloftrends.com/assets/images/blog_bg.jpg);
}
